.data .heading {
    /* font-size:21px; */
    margin: 20px 20px 10px 0px;
    justify-content: space-evenly;
  }
  .heading h3{
      margin-left: -100px;
  }
  .content {
    margin: 11px 20px;
    font-size: 20px;
    justify-content: space-evenly;
  }
  .i1 i {
    /* margin-right:-20px; */
    width: 14px;
  }
  .content b {
    margin: 6px 25px;
    color: #ff5252;
  }
  .content i {
    font-size: 20px;
    margin: 6px 15px;
    /*position: absolute;*/
    color: black;
    float: left;
  }
  .p1 {
    vertical-align: left;
    box-shadow: 20px;
    margin: 150px 100px;
  }
  .p1 img {
    border-radius: 50%;
    /*box-shadow: 5px 5px;*/
    offset: unset;
    background-position: cover;
    height: 140px;
    width: 190px;
    animation: 5s infinite;
    box-shadow: 10px 20px 30px silver;
    border: 1px double grey;
  }
  .edit {
    /* background-color:#ff5252; */
    /* border-radius:10px; */
    margin: -198px 180px;
    /* color:seashell;  */
    /* color: black; */
  }
  
  /* .btn{  
      margin:0px -10px;
      font-size:13px;
      border-radius:10px; /*top left,top right,bottom right and bottom left*/
  /* box-shadow:15px 15px 0 0 green; */
  /* /* color:floralwhite; */
  /* width:70px;
      height:35px;
      font-style: large; 
      padding:10px;
      background-color:salmon;
      box-shadow: 0px 10px 11px rgba(0,0,0,0.5);
    }       */
  /* .edit button{ 
        color:seashell; 
        margin:7px 140px; 
        background-color: hsl(0, 100%, 66%);
        border-radius:5px 60px 3px 60px;
        width:40px;
        height:40px; 
         */
  .edit button {
    /* color:seashell;  */
    /* margin: -190px 210px; */
    /* background-color: #ff5252; */
    font-size: x-large;
    color: #ff5252;
    /* border-radius: 5px;   */
    margin-left: 65px;
    margin-bottom: -20px;
    top: -20px;
    background-color: floralwhite;
    border-radius: 50%;
    padding: 4px;
    /* border-radius:80%; */
    /* border-radius:5px 90px 3px 90px; */
  }
  .details {
    color: #ff5252;
    margin: 110px 370px;
  }
  .data {
    color: hsl(0, 100%, 66%);
    margin: 170px 310px;
    top: 10px;
    position: absolute;
    font-size: 18.72px;
  }
  #place {
    margin-left: 60px;
  }
  /* .data .heading {
    /* font-size:21px; */
    /* margin: 20px 20px 10px -20px; */
    /* justify-content: space-evenly; */
  /* }  */
  /* .box1 {
    border-radius: 15px;
    background-color: seashell;
    width: 960px;
    height: 20px;
    box-shadow: 5px 10px #fff5ee;
    animation: 5s infinite;
    border: 1px double grey;
    padding: 2em;
    margin: 150px 290px;
  } */
  .box1:hover {
    background-color: floralwhite;
  }
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline;
    margin: -10px 10px;
  }
  .dropbtn:hover {
    background-color: floralwhite;
  }
  /* Dropup content (Hidden by Default) */
  /* .dropup-content {
    display: none;
    /* position: absolute; */
  /* bottom: -5px; */
  /* background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0px 40px;
  } */
  /* .dropbtn {
    color: black;
    padding: 5px;
    font-size: 20px;
    border: none;
    margin: 0px 0px 0px 0px;
    float: right;
    /* margin: -28px 0px -28px 870px; */
  /* background-color: #ff5252;
    border-radius: 5px;
  } */
  .box1 {
    border-radius: 15px;
    background-color: seashell;
    /* padding: 20px; */
    width: 960px;
    height: 210px;
    /* box-shadow: 5px 10px #fff5ee; */
    animation: 5s infinite;
    box-shadow: 10px 20px 30px silver;
    border: 1px double grey;
    /* padding-top: 5px; */
    padding: 2em;
    margin: 150px 180px;
    /* padding-top: -40px; */
  }
  .dropbtn {
    margin: 0px 0px 0px 790px;
    background-color: #ff5252;
    border-radius: 10px;
    width: 22px;
    height: 30px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 2px;
    display: inline;
    z-index: 1;
  }
  .dropbtn i {
    margin-left: 3px;
  }
  .dropcontent {
    margin: -35px;
    padding: 0px;
  }
  .map i1 {
    margin: 0px;
  }
  .heading1 {
    margin: 570px 0px;
    font-size: 18.72px;
  }
  .heading1 h3{
      margin-left: -100px;
  }
  .heading2 {
    margin: 990px 0px;
    font-size: 18.72px;
  }
  .heading2 h3{
    margin-left: -100px;
}
  .heading3 {
    margin: 1420px 0px;
    font-size: 18.72px;
  }
  .heading3 h3{
    margin-left: -100px;
}
  ._switch1 {
    position: absolute;
    width: 45px;
    height: 25px;
    margin: -50px 0px 0px 320px;
    /* padding-top:10px; */
    /* float: right; */
  }
  /*--switch--*/
  ._switch {
    position: absolute;
    width: 45px;
    height: 25px;
    margin: -35px 0px -28px 870px;
    /* float: right; */
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0s; /*speed*/
    border-radius: 10px;
  }
  ._switch input {
    display: none;
  }
  .slider::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0.5s;
    border-radius: 25px;
  }
  ._switch input:checked + .slider {
    background-color: #ff5252;
  }
  
  ._switch input:checked + .slider::before {
    transform: translateX(30px);
  }
  
  /*--switch--*/
  ._switch1 {
    position: absolute;
    width: 45px;
    height: 25px;
    margin: -50px 0px 0px 870px;
    /* padding-top:10px; */
    /* float: right; */
  }
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0s; /*speed*/
    border-radius: 10px;
  }
  ._switch1 input {
    display: none;
  }
  .slider1::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0.5s;
    border-radius: 25px;
  }
  ._switch1 input:checked + .slider1 {
    background-color: #ff5252;
  }
  
  ._switch1 input:checked + .slider1::before {
    transform: translateX(30px);
  }
  .location1 {
    margin: 25px;
  }
  #txt1 {
    margin: 0px 0px -4px 0px;
  }
  .val b {
    margin: 5px;
  }
  .map1 i {
    font-size: 18px;
    margin: 5px 20px;
    justify-content: space-evenly;
  }
  /*RATING*/
  .rating {
    margin: 0px 250px;
    font-size: 18px;
    /* padding:2px; */
    display: inline-block;
  }
  .rating i {
    color: #a2a2a2;
  }
  .rating .checked {
    color: #ff562283;
  }
  .delivery {
    font-size: 18px;
    margin: -40px 780px;
    /* font-family:"Merriweather Sans — Regular"; */
    font-style: italic;
  }
  .delivery1 {
    font-size: 18px;
    margin: 20px 750px;
    /* font-family:"Merriweather Sans — Regular"; */
    /* font-style:italic;    */
    color: forestgreen;
  }
  
  /*PAST ORDERS*/
  .restaurant {
    margin: -30px 10px;
    font-size: 18.72px;
    color: hsl(0, 100%, 66%);
  }
  .place {
    margin: 20px 60px;
    font-size: 18px;
    color: hsl(0, 100%, 66%);
  }
  .price {
    margin: 5px 60px;
    font-size: 18px;
    color: hsl(0, 100%, 66%);
  }
  .dish {
    margin: 20px 60px;
    font-size: 18px;
  }
  .dtime {
    margin: 20px 95px;
    font-size: 18px;
    color: hsl(0, 100%, 66%);
  }
  .btn1 {
    margin: -30px 300px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    font-style: bold;
  }
  .btn2 {
    margin: -40px 420px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    font-style: bold;
}
