<!-- <p>hurray works!</p> -->
<app-header></app-header>
<div class="summary_01">
    
    <H1>Yaaaaaaah !!!</H1>
 </div>
 <section > 
  

  <div id ="ord" class="card">
    <img src="https://media.istockphoto.com/vectors/tick-icon-vector-symbol-marker-red-checkmark-isolated-on-white-icon-vector-id913475058?s=170x170" alt="Confirm" style="width:55%">
    
    <p class="title2">Huraayy</p>
    <h2 style="text-align:center">Order confirmed</h2>
    <div style="margin: 24px 0;">
    
    </div>
    <p><button>
      <a  routerLink="/track">Track Order</a>
    </button></p>
  </div></section>
 <div id="div1"><img src="https://drive.google.com/uc?export=view&id=1NbW8DMi8NJ3XP-AUUPi8cRwKmvwM-SuG" alt="Loading"
    style="width:100%" ></div>
    
<div id="div2"><img src="https://drive.google.com/uc?export=view&id=12VkPz1Gn-fgjvtPA9RX-J2ll7W7EYmdL" alt="Loading"
    style="width:100%" ></div>
    
<div id="div3"><img src="https://drive.google.com/uc?export=view&id=1xt2YGeF7KM052ek_fhgg52Mv5rXyYN5x" alt="Loading"
    style="width:100%" ></div>


<div id="div5"><img src="https://drive.google.com/uc?export=view&id=1HrlfzMMdtRAj1CTmj4qoMMQu9nnXEH_W" alt="Loading"
    style="width:100%" ></div>

<div class="summary_01">
    
<h2>Food is on the way</h2>
 </div>

 <app-footer></app-footer>
 