<app-header></app-header>
<!-- <p>home works!</p> -->
<section>
    <div id="slider">
        <figure>
            <img src="https://drive.google.com/uc?export=view&id=1zrJZY4TCiVxck99gDf8RD9E4kPn3pmU-" alt="1">
            <img src="https://drive.google.com/uc?export=view&id=11ZCSxtYXChLclNTmq6gA1nMc4mrRI8a1" alt="2">
            <img src="https://drive.google.com/uc?export=view&id=1xfG2uJM38qv59Me4UMJQ6pFg60PCQlZQ" alt="3">
            <img src="https://drive.google.com/uc?export=view&id=1sDX2lN919WcDKQLwOg33buCbOQFVLT_v" alt="4">
            <img src="https://drive.google.com/uc?export=view&id=14Xy-nYKon87_IgY16Uh_1Q7q7ahkFiu-" alt="5">
        </figure>

        
    </div>
</section>

<section id="gallery"style="background-color: white;">
    <div class="title-text">
        <h1> <b>CATEGORY</b> </h1>
        <p>Food is our common ground, a universal experience.</p>
    </div>
    <div class="gallery-box">
        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1CExBjF0IeJRIzYOi9Gb7xhekptJdDRKR" alt="indian">
            <div class="overlay">
            </div>
            <div class="service-desc">
                <h3>INDIAN</h3>
               
            </div>
        </div>
        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1FrnNCpQqpd7QOA_3Fn972cKaY2KsH7dD" alt="mexican">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>MEXICAN</h3>
            </div>
        </div>
        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1k3TdnnpdIkAtXt0mqTl-IYefspHza9zX" alt="Italy">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>ITALY</h3>
            </div>
        </div>
        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1LAfOSalE-p5Vyx5Fk1vmz5fC154wRFoi" alt="thai">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>THAILAND</h3>
            </div>
        </div>

        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1QDXE4n7zy09TlqwMKqpZ7uPPcjdi2J03" alt="chinese">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>CHINESE</h3>
            </div>
        </div>

        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1ApvuFH2xAT0uLVSTaRk1gtVCnIPTCmOK" alt="egyptian">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>EGYPTIAN</h3>
            </div>
        </div>

        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1-VkJ6w_zzyXHtXUwSIS4yfBwBDWFL1Fw" alt="srilanka">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>SRI LANKAN</h3>
            </div>
        </div>

        <div class="single-gallery">
            <img src="https://drive.google.com/uc?export=view&id=1tDlOvrVs-EMCvvkN27MAtRKl6IKVpsCl" alt="turkish">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>TURKISH</h3>
            </div>
        </div>
        
    </div>
</section>




<section id="rest1-section">
    <div class="rest-section">
         
        <div class="container1">
            <p><b>Feeling hungry?</b> Make a smart choice!</p>
            <div class="rest-button">
                <a routerLink="/Restaurants">
                    <button class="btn-1">RESTAURANTS <i class="fas fa-hand-point-right" style="margin-left: 10px;"></i></button>
                </a> 
                              
            </div>
            <div class="rest-img">
                <img src="https://drive.google.com/uc?export=view&id=1LD7HSvGjpDMPnZnUH_hgBWc8E8ynH_oH" alt="img">
                
            </div>

        </div>
    </div>
</section>



<section id="outlet" >
    <div class="out-text">
        <h1><b>OUTLETS</b></h1>
        <p>You're always one decision away from a totally different experience.</p>
    </div>
<div class="container">
    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=1PksNPl5hQq7pQIpZ4l36KXfDL7aKIdfa" alt="central">
            <div class="out-content">
                <div>
                    <h2>CHENNAI CENTRAL</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=1i0HKenaSuD4mRcI67mgd0ci02eieqZ12" alt="kathipara">
            <div class="out-content">
                <div>
                    <h2>KATHIPARA</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=181eh5VOSimdp-kscBXrhQTGQn86FfrEB" alt="anna nagar">
            <div class="out-content">
                <div>
                    <h2>ANNA NAGAR TOWER</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=1YTxafBvhSs7JVNG_e5Sy8jVYT-IXApIL" alt="airport">
            <div class="out-content">
                <div>
                    <h2>CHENNAI AIRPORT</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=1j9PO2N0G0e9X9pecNgEn-cB8__pGub9t" alt="marina">
            <div class="out-content">
                <div>
                    <h2>MARINA</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=1FyWAzTW23aEwNh-1Hmmcijk3u7Gvjh0x" alt="cmbt">
            <div class="out-content">
                <div>
                    <h2>CMBT</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hex">
        <div class="draw">
            <img src="https://drive.google.com/uc?export=view&id=1PtX_bX7HZxxkNTutivGBMJ018nJj8NWi" alt="high court">
            <div class="out-content">
                <div>
                    <h2>MADRAS HIGH COURT</h2>
                </div>
            </div>
        </div>
    </div>

</div>
</section>

<app-footer></app-footer>